<table>
	<tr>
		<{foreachq item=downloads from=$block.video}>
		<td>
			<div class="vidblockitem">
				<{if $downloads.logourl != ""}>
				<div class="vidimg">
					<a href="<{$xoops_url}>/modules/video/singlefile.php?lid=<{$downloads.lid}>" title="<{$downloads.title}>">
						<img src="<{$downloads.logourl}>" alt="<{$downloads.title}>" />
					</a>
				</div>
				<{/if}>
				<div class="vidtitle">
					<a href="<{$xoops_url}>/modules/video/singlefile.php?lid=<{$downloads.lid}>" title="<{$downloads.title}>">
						<{$downloads.title}>
					</a>
				</div>
            <div class="center">
	            <div class="small"><{$smarty.const._MB_VIDEO_DATE}>:<{$downloads.date}></div>
				   <div class="small"><{$smarty.const._MB_VIDEO_HIT}><{$downloads.hits}></div>
            </div>
				<{if $downloads.description != ""}>
				<div class="viddesc small">
					<{$downloads.description}>
				</div>
				<{/if}>
			</div>
		</td>
		<{/foreach}>
	</tr>
</table>