<div class="moduleicons">
    <div class="floatright">
        <div class="xo-buttons">
            <!-- <a class="ui-corner-all tooltip" href="congress.php?op=add" title="<{$smarty.const._AM_CV_ADD_CONGRESS}>"><img src="<{xoAdminIcons add.png}>" alt="<{$smarty.const._AM_CV_ADD_CONGRESS}>"/><{$smarty.const._AM_CV_ADD_CONGRESS}></a>
            <a class="ui-corner-all tooltip" href="thesis.php?op=add" title="<{$smarty.const._AM_CV_ADD_THESIS}>"><img src="<{xoAdminIcons add.png}>" alt="<{$smarty.const._AM_CV_ADD_THESIS}>"/><{$smarty.const._AM_CV_ADD_THESIS}></a>
            <a class="ui-corner-all tooltip" href="paper.php?op=add" title="<{$smarty.const._AM_CV_ADD_PAPER}>"><img src="<{xoAdminIcons add.png}>" alt="<{$smarty.const._AM_CV_ADD_PAPER}>"/><{$smarty.const._AM_CV_ADD_PAPER}></a>
            <a class="ui-corner-all tooltip" href="project.php?op=add" title="<{$smarty.const._AM_CV_ADD_PROJECT}>"><img src="<{xoAdminIcons add.png}>" alt="<{$smarty.const._AM_CV_ADD_PROJECT}>"/><{$smarty.const._AM_CV_ADD_PROJECT}></a> -->
            <a class="ui-corner-all tooltip" href="profile.php?op=add" title="<{$smarty.const._AM_CV_ADD_PROFILE}>"><img src="<{xoAdminIcons add.png}>" alt="<{$smarty.const._AM_CV_ADD_PROFILE}>"/><{$smarty.const._AM_CV_ADD_PROFILE}></a>
        </div>
    </div>
</div>
<div class="clear"></div>