<div class="moduleicons">
    <div class="floatright">
        <div class="xo-buttons">
            <a class="ui-corner-all tooltip" href="profile.php?op=profile_thesis&level=add&id=<{$profile.profile_id}>" title=""><img src="<{xoAdminIcons add.png}>" alt=""/></a>
            <a class="ui-corner-all tooltip" href="profile.php?op=profile_congress&level=add&id=<{$profile.profile_id}>" title=""><img src="<{xoAdminIcons add.png}>" alt=""/></a>
            <a class="ui-corner-all tooltip" href="profile.php?op=profile_paper&level=add&id=<{$profile.profile_id}>" title=""><img src="<{xoAdminIcons add.png}>" alt=""/></a>
            <a class="ui-corner-all tooltip" href="profile.php?op=profile_project&level=add&id=<{$profile.profile_id}>" title=""><img src="<{xoAdminIcons add.png}>" alt=""/></a>
            <a class="ui-corner-all tooltip" href="profile.php?op=profile_arbitration&level=add&id=<{$profile.profile_id}>" title=""><img src="<{xoAdminIcons add.png}>" alt=""/></a>
            <a class="ui-corner-all tooltip" href="profile.php?op=profile_journal&level=add&id=<{$profile.profile_id}>" title=""><img src="<{xoAdminIcons add.png}>" alt=""/></a>
        </div>
    </div>
</div>
<div class="clear"></div>

<{$profile.profile_firstname }>