<div class="moduleicons">
    <div class="floatright">
        <div class="xo-buttons">
            <a class="ui-corner-all tooltip" href="profile.php?op=profile_thesis&level=add&id=<{$profile.profile_id}>" title="<{$smarty.const._AM_CV_ADD_THESIS}>"><img src="<{xoAdminIcons add.png}>" alt="<{$smarty.const._AM_CV_ADD_THESIS}>" /><{$smarty.const._AM_CV_ADD_THESIS}></a>
            <a class="ui-corner-all tooltip" href="profile.php?op=profile_congress&level=add&id=<{$profile.profile_id}>" title="<{$smarty.const._AM_CV_ADD_CONGRESS}>"><img src="<{xoAdminIcons add.png}>" alt="<{$smarty.const._AM_CV_ADD_CONGRESS}>" /><{$smarty.const._AM_CV_ADD_CONGRESS}></a>
            <a class="ui-corner-all tooltip" href="profile.php?op=profile_paper&level=add&id=<{$profile.profile_id}>" title="<{$smarty.const._AM_CV_ADD_PAPER}>"><img src="<{xoAdminIcons add.png}>" alt="<{$smarty.const._AM_CV_ADD_PAPER}>" /><{$smarty.const._AM_CV_ADD_PAPER}></a>
            <a class="ui-corner-all tooltip" href="profile.php?op=profile_project&level=add&id=<{$profile.profile_id}>" title="<{$smarty.const._AM_CV_ADD_PROJECT}>"><img src="<{xoAdminIcons add.png}>" alt="<{$smarty.const._AM_CV_ADD_PROJECT}>" /><{$smarty.const._AM_CV_ADD_PROJECT}></a>
            <a class="ui-corner-all tooltip" href="profile.php?op=profile_arbitration&level=add&id=<{$profile.profile_id}>" title="<{$smarty.const._AM_CV_ADD_ARBITRATION}>"><img src="<{xoAdminIcons add.png}>" alt="<{$smarty.const._AM_CV_ADD_ARBITRATION}>" /><{$smarty.const._AM_CV_ADD_ARBITRATION}></a>
            <a class="ui-corner-all tooltip" href="profile.php?op=profile_journal&level=add&id=<{$profile.profile_id}>" title="<{$smarty.const._AM_CV_ADD_JOURNAL}>"><img src="<{xoAdminIcons add.png}>" alt="<{$smarty.const._AM_CV_ADD_JOURNAL}>" /><{$smarty.const._AM_CV_ADD_JOURNAL}></a>
        </div>
    </div>
</div>
<div class="clear"></div>

<{$profile.profile_firstname }>