<div class="moduleicons">
    <div class="floatright">
        <div class="xo-buttons">
            <a class="ui-corner-all tooltip" href="item.php?op=new_item" title="<{$smarty.const._AM_TV_ADD_ITEM}>"><img src="<{xoAdminIcons add.png}>" alt="<{$smarty.const._AM_TV_ADD_ITEM}>"/><{$smarty.const._AM_TV_ADD_ITEM}></a>
            <a class="ui-corner-all tooltip" href="list.php?op=new_list" title="<{$smarty.const._AM_TV_ADD_LIST}>"><img src="<{xoAdminIcons folder_blue.png}>" alt="<{$smarty.const._AM_TV_ADD_LIST}>"/><{$smarty.const._AM_TV_ADD_LIST}></a>
        </div>
    </div>
    <div class="navigation" id="<{$navigation}>"><{$navtitle}></div>
</div>