<{includeq file="$xoops_rootpath/modules/tv/templates/admin/tv_header.html"}>
<table id="xo-item" class="outer" cellspacing="1" width="100%">
    <thead>
    <th><{$smarty.const._AM_TV_ITEM_ID}></th>
    <th><{$smarty.const._AM_TV_ITEM_TITLE}></th>
    <th><{$smarty.const._AM_TV_ITEM_STATUS}></th>
    <th><{$smarty.const._AM_TV_ITEM_SELECT}></th>
    <th><{$smarty.const._AM_TV_ITEM_ACTION}></th>
    </thead>
    <tbody class="xo-item">
    <{foreach item=item from=$items}>
    <tr class="odd" id="mod_<{$item.item_id}>">
        <td class="width5 txtcenter"><img src="../images/puce.png" alt=""/><{$item.item_id}></td>
        <td class="txtcenter bold">
	        <a href="<{$item.itemurl}>"><{$item.item_title}></a>
        </td>
        <td class="txtcenter width10 bold">
            <img class="cursorpointer" id="item_status<{$item.item_id}>" onclick="setStatus( { op: 'item_status', item_id: <{$item.item_id}> }, 'item_status<{$item.item_id}>', 'backend.php' )" src="<{if $item.item_status}>../images/ok.png<{else}>../images/cancel.png<{/if}>" alt=""/>
        </td>
        <td class="txtcenter width10 bold">
            <img class="cursorpointer" id="item_select<{$item.item_id}>" onclick="setStatus( { op: 'item_select', item_id: <{$item.item_id}> }, 'item_select<{$item.item_id}>', 'backend.php' )" src="<{if $item.item_select}>../images/ok.png<{else}>../images/cancel.png<{/if}>" alt=""/>
        </td> 
        <td class="txtcenter width10 xo-actions">
            <img class="tooltip" onclick="display_dialog(<{$item.item_id}>, true, true, 'slide', 'slide', 320, 700);" src="<{xoAdminIcons display.png}>" alt="<{$smarty.const._PREVIEW}>" title="<{$smarty.const._PREVIEW}>" />
            <a href="item.php?op=edit_item&amp;item_id=<{$item.item_id}>"><img class="tooltip" src="<{xoAdminIcons edit.png}>" alt="<{$smarty.const._EDIT}>" title="<{$smarty.const._EDIT}>"/></a>
            <a href="item.php?op=delete_item&amp;item_id=<{$item.item_id}>"><img class="tooltip" src="<{xoAdminIcons delete.png}>" alt="<{$smarty.const._DELETE}>" title="<{$smarty.const._DELETE}>"/></a>
        </td>
    </tr>
    <{/foreach}>
    </tbody>
</table>

<{foreach item=item from=$items}>
	<div id="dialog<{$item.item_id}>" title="<{$item.item_title}>" style='display:none;'>
	<div class="marg5 pad5 ui-state-default ui-corner-all">
		<{$smarty.const._AM_TV_ITEM_TITLE}> : <span class="bold"><{$item.item_title}></span>
	</div>
	<div class="marg5 pad5 ui-state-highlight ui-corner-all">
	   <div class="pad5"><span class="bold"><{$smarty.const._AM_TV_ITEM_TITLE}> : <{$item.item_title}></span></div>
		<div class="pad5"><span class="bold"><{$smarty.const._AM_TV_ITEM_TEXT}> : </span><img class="ui-state-highlight right" width="140" src="<{$item.imgurl}>" alt="<{$item.item_title}>" /><{$item.item_text}></div>
		<div class="clear"></div>
   </div>
	</div>
<{/foreach}>

<div class="pagenav"><{$item_pagenav}></div>