.xo-buttons a,.xo-buttons button {
	float: right !important;
}

#buttonbar_mod {
	background-color: #f1f1f1 !important;
	border-bottom: 1px #ccc solid !important;
	border-left: 1px #ccc solid !important;
	border-right: 1px #ccc solid !important;
	border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
}

#buttontop_mod {
	background-color: #f1f1f1 !important;
	border-top: 1px #ccc solid !important;
	border-left: 1px #ccc solid !important;
	border-right: 1px #ccc solid !important;
	border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
}

#buttonbar_mod ul li a {
	font-size: 1em !important;
	font-weight: normal !important;
}