@import url(reset.css);
@import url(buttonbar.css);
@import url(footer.css);
@import url(content.css);
@import url(dashbord.css);
@import url(icons.css);
@import url(globalnav.css);
@import url(table.css);
@import url(form.css);
@import url(logger.css);
@import url(tablesorter.css);
@import url(pagenav.css);

/*  for html 5 in next time */
article,aside,dialog,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

/* beginning of the applicable styles */
html,body {
	max-width: 100%;
	height: auto;
	margin: 0;
	background-color: #fff;
	color: #333;
	font-family: M Traffic, Tahoma, Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.5em;
}

html {
	font-size: 100.01%;
	background-color: #f1f1f1;
}

body {
	font-size: 75%;
}

#globalnav {
	background-color: #2d2d2d;
	height: 30px;
	border-bottom: 1px solid #000;
}

#topbar {
	background-color: #f1f1f1;
	height: 60px;
	border-bottom: 1px solid #ddd;
	z-index: 999;
}

#subtopbar {
	margin: 0 auto !important;
	width: 80%;
	min-width: 960px;
}

#subtopbar ul {
	
}

#subtopbar ul li {
	float: left;
	margin: 10px 4px;
	padding: 5px;
	list-style: none;
}

#page {
	width: 80%;
	min-width: 960px;
	height: auto;
	margin: 90px auto 10px auto;
	padding: 15px 5px 5px 5px;
}

#header * {
	margin: 0;
	padding: 0;
}

#header {
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 90px;
	background: none;
	z-index: 10000;
}

body>#header {
	position: fixed;
}

#header #headercontrols {
	
}

#list {
	float: left;
}

#logo {
	float: right;
}

#logo a img {
	height: 50px;
	padding: 5px;
}



.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */