#xo-pagenav {

}

.pagneutral {

}

.pagact {

}

.paginact {

}

.xo-counterpage {
	padding: 5px;
	margin: 0 2px;
	border: 1px solid #ccc;
}
.xo-pagarrow {
	padding: 5px;
	margin: 0 2px;
	border: 1px solid #ccc;
} 
